body {
    height: 100dvh;
    font-family:Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    /*margin:0.3em;*/
    font-size: small;
}

h1 {
    font-size: small;
    cursor: pointer;
}
h3 {
    font-size: small;
    font-weight: 100;
    margin: 0;
}

a,
.list {
    color: black;
    text-decoration: none;
}

.list {
    font-size: small;
}

.worksList{
    margin-top:10px;
    font-size: small;
}
.nav-content{
    margin-top: 15px;
    min-width: 200px;
    max-width: 225px;
    font-size: small;
}

.nav-footer{
    color: rgb(173, 173, 173);
    font-size: x-small;
    margin-bottom: 10px;
}

#focusList,
#resumeList {
    padding-left: 36px;
}

h1:hover,
h3:hover,
a:hover {
  color: transparent;
}

h1.active,
h3.active {
    text-decoration: underline;  
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 15px 36px;
}

.gallery > *:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / -1;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 1px;
    opacity: 0;
    transform: translateY(10px);
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
}

.gallery img.lazy {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.gallery img[loading="lazy"] {
    opacity: 1;
    transform: translateY(0);
}

.nav {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    position: fixed;
    z-index: 1;
    height: 100dvh;
    justify-content: space-between;
    background-color: transparent;
}

/* .nav-gray, .nav-gray a {
  color: rgb(180, 180, 180) !important;
} */

.nav-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    width: fit-content;
}

.container {
    margin-left: 260px; /* adjust to match nav width */
    height: 100dvh;
    overflow-y: scroll;
    padding-right: 100px;
}
footer{
    position: absolute;
    bottom:0;
}
.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 15px;
    font-size: small;
}

#caption {
    line-height: 1.2;
    color: black;
    padding: 0 200px 100px 90px;
}

#caption h2 {
    font-size: small;
    font-weight: 100;
}

#caption il {
    color: black;
}

#caption p {
    margin: 0.5rem 0;
}

.graphic-border {
    border: 1px solid #bcbcbc;
}

.list a.active {
  text-decoration: underline;
}

.blog-entry {
    padding-bottom: 40px;
}

.blog-entry h2 {
  font-size: small;
  margin-bottom: 0.5em;
}

.blog-entry p {
    line-height: 1.5;
    color: black;
    padding: 0 100px 15px 0px;
}


.blog-feed{
    padding: 0 36px;   
}
#blogDates a {
  display: block;
  margin: 13px 0; 
}

.blog-entry img {
  display: block;   
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  object-fit: cover;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* padding-left:36px; */
}

.blog-entry img[loading="lazy"] {
  opacity: 1;
  transform: translateY(0);
}

#bio {
  opacity: 0;
  max-height: 0;    
  transition: opacity 1s ease, max-height 1s ease;
}

#bio.active {
  opacity: 1;
  max-height: 1000px;    
}

/*fotos*/

.image-wrapper {
  position: relative; /* makes overlay positioned over image */
  width: 100%;
  display: block;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.image-wrapper .overlay {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
  text-align: center;      
  text-transform: lowercase;
}
.loader {
  position: absolute;
  font-size: small;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.blog-list{
     cursor: pointer;
    padding-top: 10px;
    font-size: small;
}
#nav-bio {
    cursor: pointer;
}
#user-clock {
  position: fixed;
  top: 15px;
  right: 15%;
  /* background: rgba(122, 122, 122, 0.3);  
  backdrop-filter: blur(5px);       
  -webkit-backdrop-filter: blur(5px);  */
  color: white;
  border-radius: 5px;
  font-size: small;
  z-index: 10;
}



.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.shop-item {
  text-align: left;
}

.shop-item img {
  width: 100%;
  height: auto;
  display: block;
}

.shop-caption p {
  margin: 5px 0 0 0;
  line-height: 1.3;
}
.shop-caption p:first-child {
    font-weight: bold;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1012px) and (-webkit-min-device-pixel-ratio: 2) {
    p, h1, h3, #caption h2, .blog-entry h2 {
        /* font-size: 40px !important; */
    }
    
    p, {
        font-size: 30px !important;
    }

    /* Footer */
    .footer {
        display: none;
    }

    .nav {
    
        top: auto !important;
        width: 100%;
        height: auto;
        display: flex;
        padding: 10px 25px;
        margin: 0 auto;
        justify-content: space-between;
        gap: 20px;
    }

    .nav-body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 40px;
    }

    /* Container */
    .container {
        margin-left: 0;
        height: auto; /* allow natural scrolling */
        overflow-y: visible;
        padding-right: 0;
    }

    /* Lists */
    .list {
        font-size: 30px !important;
    }

    /* Gallery */
    .gallery {
        display: grid;
        grid-template-columns: 1fr; /* single column for mobile */
        gap: 10px;
    }

    /* Caption */
    #caption {
        padding: 0 36px 136px 36px;
    }

    /* Blog links spacing */
    #blogDates a {
        padding-bottom: 20px;
        display: block;
    }

 
    h1:hover, h3:hover, a:hover {
        text-decoration: underline;
        color: black;
    }
    #user-clock {
        top: 25px;
        font-size: 30px !important;
        right: 8%;
    }
    .nav-content{
        font-size: 30px ;
        max-width: 100%;
    }
    .blog-list{
        font-size: 30px;
    }

    .nav-footer{
        position: fixed;
        bottom:0;
        z-index: 10;
        font-size: 20px;
    }
    .image-wrapper .overlay {
        font-size: medium;
    }
    
   body.index .nav a,
body.index .list,
body.index .list a,
body.blog .nav a,
body.blog .list,
body.blog .list a {
    color: white !important;
}
}
